html
	head
		link(rel="stylesheet" href="style.css")
	body(ng-app="webscaleBoundingBox", ng-controller='mainController')
		div#imageContainer
			image#labeledImage(src='defaultImage.jpg')
		canvas#drawCanvas
		script(src="module.js")
		div#menu(ng-controller='menuController')
			h3 Labels
			div(ng-repeat='label in labels')
				button.btn.btn-block(
					ng-class='{"btn-primary": activeLabel == label, "btn-default": activeLabel != label}'
					ng-click='setActiveLabel(label)'
				) {{label}}
			h3 Filter
			p Automatically skip images that already...
			ul(style="list-style: none; padding-left: 10px")
				li
					input(type='checkbox' ng-model='filter.ignoredImages' ng-change='filterChange()')
					| Are ignored (Keyboard: N)
				li
					input(type='checkbox' ng-model='filter.goodBoundingBoxes' ng-change='filterChange()')
					| Have a good bounding box (approved automatic/manual)
				li
					input(type='checkbox' ng-model='filter.okayishBoundingBoxes' ng-change='filterChange()')
					| Have an okayish bounding box (automatic annotation that needs improvement)
				li
					input(type='checkbox' ng-model='filter.unprocessedImages' ng-change='filterChange()')
					| Haven't been processed yet
			h4 Current Image
			p {{currentImageString}}