html
	head
		link(rel="stylesheet" href="style.css")
	body(ng-app="webscaleBoundingBox")
		div#imageContainer
			image#labeledImage(src='defaultImage.jpg')
		canvas#drawCanvas
		script(src="module.js")
		div#menu(ng-controller='menuController')
			h3 Labels
			ul(ng-repeat='label in labels')
				li {{label}}